@media screen {
  .game-container {
    gap: 20px;
    display: flex;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: column;
    color: var(--light-color);  
    background-color:  transparent;
  }

  .game-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .game-filter {
    gap: 10px;
    display: flex;
    max-width:50%;
    overflow: hidden;
    overflow-y: auto; 
    overflow-x: auto;
    
  }

  .filter {
    display: flex;
    font-size: .8rem;
    padding: 5px 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color:  var(--dark-primary-color);

  }

  .filter:hover {
    color: var( --background-color);
    background-color:  var(--dark-primary-color);

  }

  .date-filter {
    border: none;
    outline: none;
    padding: 10px;
    border-radius:  8px;
    color: var(--light-color);  
    background-color:  var(--dark-primary-color);

  }

  .game-controller {
    gap: 20px;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: row;
  }

  .game-inner {
    gap: 10px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    min-width: 280px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    background-color:  var(--dark-primary-color);

  }

  .game-time {
    display: flex;
    align-items: end;
    flex-direction: column;
    color: var( --secondary-color);
  }

  .game-details {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-grow: 100%;
    align-items: center;
    justify-content: space-between;

  }

  .game {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .game  span {
    display: none;
  }

  .game-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 360%;
    height:50px;
    width:50px;

  }
  
  .game-score {
    font-size: 1.4rem;
    padding: 2px 20px;
    border-radius: 20px;
    color: var( --secondary-color);

  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .game-container {
    gap: 20px;
    display: flex;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: column;
    color: var(--light-color);  
    background-color:  var(--dark-primary-color);
  }

  .game-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .game-filter {
    gap: 10px;
    display: flex;
    max-width:50%;
    overflow: hidden;
    overflow-y: auto; 
    overflow-x: auto;
  }

  .filter {
    display: flex;
    font-size: .8rem;
    padding: 5px 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color:var(--primary-color);
  }

  .filter:hover {
    color: var( --background-color);
    background-color: var(--secondary-color);
  }

  .date-filter {
    border: none;
    outline: none;
    padding: 10px;
    border-radius:  8px;
    color: var(--light-color);  
    background-color:var(--primary-color);
  }

  .game-controller {
    gap: 20px;
    display: flex;
    max-height: 52%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
  }

  .game-inner {
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--light-color);
  }

  .game-time {
    color: var( --secondary-color);
  }

  .game-details {
    width: 80%;
    display: flex;
    flex-grow: 100%;
    align-items: center;
    justify-content: space-between;

  }

  .game {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .game  span {
    display: contents;
  }
  .game-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 360%;
    height:30px;
    width:30px;

  }
  
  .game-score {
    font-size: 1rem;
    padding: 2px 20px;
    border-radius: 20px;
    color: var( --secondary-color);
    background-color:var(--primary-color);
  }
}
