@media screen {
  .game-container {
    gap: 20px;
    display: flex;
    height: 100%;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 20px;
    flex-direction: column;
    color: var(--light-color);
    background-color: transparent;
  }

  .game-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .game-filter {
    gap: 10px;
    display: flex;
    max-width: 60%;
    cursor: pointer;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
  }

  .filter {
    display: flex;
    font-size: .8rem;
    padding: 8px 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-primary-color);
  }

  .filter:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .active-f {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .calender {
    display: flex;
    border-radius: 8px;
    align-items: center;
    background-color: var(--primary-color);
  }

  .date-filter {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    color: var(--light-color);
    background-color: var(--dark-primary-color);
  }

  .date-f-icon {
    width: 20px;
    height: 20px;
    fill: var(--light-color);
  }

  .game-controller {
    gap: 20px;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: row;
  }

  .game-prediction {
    gap: 20px;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: row;
  }

  .game-inner {
    gap: 10px;
    width:100%;
    display: flex;
    padding: 10px;
    cursor: pointer;
    min-width: 280px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-primary-color);
  }

  .game-time {
    gap: 15px;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    color: var(--secondary-color);
  }

  .game-time h1 {
    font-size: .8rem;
  }
  .game-like-icon {
    fill: var(--secondary-color);
    height: 16px;
  }

  .game-details {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-grow: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .game {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .game span {
    font-size: .8rem;
    display: none;
  }
  
  
  .g-p {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
  }

  .g-pan {
    width:100%;
    display: flex;
    justify-content: space-between;
  }

  .game-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 360%;
    height: 50px;
    width: 50px;
  }

  .game-score {
    font-size: .8rem;
    padding: 2px 20px;
    border-radius: 4px;
    color: var(--secondary-color);
  }

  .game-score h3 {
    font-size: .8rem;
    font-weight: 300;
  }

  .prediction-pan {
    display: flex;
    border-radius: 4px;
    padding:  10px 20px;
    justify-content: space-between;
    background-color: var(--primary-color);

  }

  .pp-score span {
    font-size: .8rem;
    font-weight: 600;
    color: var(--secondary-color);
  }

  .dott-s {
    font-size: .8rem;
    font-weight: 600;
    color: var(--secondary-color);

  }
  
  
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .game-container {
    background-color: var(--dark-primary-color);
  }

  .filter {
    background-color: var(--primary-color);
  }

  .filter:hover {
    background-color: var(--secondary-color);
  }

  .date-filter {
    background-color: var(--primary-color);
  }

  .game-controller {
    max-height: 52%;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
  }

  .game-prediction {
    max-height: 52%;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
   }

  .game-inner {
    align-items: center;
    flex-direction: row;
    border: 1px solid var(--light-color);
  }

  
  .active-f {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .game-details {
    width: 80%;
  }

  .game-time {
    padding: 0;
  }


  .game {
    flex-direction: row;
  }

  .game span {
    display: contents;
  }

  .game-img {
    height: 30px;
    width: 30px;
  }

  .game-score {
        background-color: var(--primary-color);
  }


}
